[user]
    name = "Oliver Ward"
    email = "oliver.ward94@gmail.com"
[push]
    autoSetupRemote = true
[core]
    excludesfile = ~/.gitignore_global
    editor = code --wait
[pull]
    rebase = false
[merge]
    autoStash = true
[rebase]
    autoStash = true

[alias]
    ff = pull --ff-only --autostash
