Host *
    AddKeysToAgent yes
    ServerAliveInterval 60
    ServerAliveCountMax 3

# Outbound Git hosts
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/openclaw_github
    IdentitiesOnly yes

Host gitlab.com
    HostName gitlab.com
    User git
    IdentityFile ~/.ssh/gitlab_ed25519
    IdentitiesOnly yes
