[tools]
atuin = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
node = "latest"
python = "latest"
starship = "latest"
zoxide = "latest"
{{ if and (ne $profile "homelab") (ne $profile "openclaw") -}}
dotnet = "latest"
pnpm = "latest"
{{ end -}}
